In [7]:
# here for libs
import pandas as pd

In [5]:
# NVIDIA CUDA
import torch
if torch.cuda.is_available():
    print("CUDA is available.")

    num_gpus = torch.cuda.device_count()
    print(f"Number of available GPUs: {num_gpus}")
    
    for i in range(num_gpus):
        print(f"GPU {i}: {torch.cuda.get_device_name(i)}")
    
    print(f"Current GPU device: {torch.cuda.current_device()}")
else:
    print("CUDA is not available. Running on CPU.")

CUDA is available.
Number of available GPUs: 1
GPU 0: NVIDIA GeForce RTX 4070 SUPER
Current GPU device: 0

Project plan:
https://docs.google.com/document/d/1o2FlMo1je0yv7LeCV_mMHfmbbjH_XfzrfiKAefOh450/edit

In [9]:
#data import
data = pd.read_csv('./dataset/diabetes_dataset00.csv')
data.head()

,Target,Genetic Markers,Autoantibodies,Family History,Environmental Factors,Insulin Levels,Age,BMI,Physical Activity,Dietary Habits,...,Pulmonary Function,Cystic Fibrosis Diagnosis,Steroid Use History,Genetic Testing,Neurological Assessments,Liver Function Tests,Digestive Enzyme Levels,Urine Test,Birth Weight,Early Onset Symptoms
0,Steroid-Induced Diabetes,Positive,Negative,No,Present,40,44,38,High,Healthy,...,76,No,No,Positive,3,Normal,56,Ketones Present,2629,No
1,Neonatal Diabetes Mellitus (NDM),Positive,Negative,No,Present,13,1,17,High,Healthy,...,60,Yes,No,Negative,1,Normal,28,Glucose Present,1881,Yes
2,Prediabetic,Positive,Positive,Yes,Present,27,36,24,High,Unhealthy,...,80,Yes,No,Negative,1,Abnormal,55,Ketones Present,3622,Yes
3,Type 1 Diabetes,Negative,Positive,No,Present,8,7,16,Low,Unhealthy,...,89,Yes,No,Positive,2,Abnormal,60,Ketones Present,3542,No
4,Wolfram Syndrome,Negative,Negative,Yes,Present,17,10,17,High,Healthy,...,41,No,No,Positive,1,Normal,24,Protein Present,1770,No

## 1.Preprocessing

In [10]:
##check missing data
missing_values = data.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [11]:
##lable
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()


categorical_columns = ['Genetic Markers', 'Autoantibodies', 'Family History' , 'Environmental Factors', 'Dietary Habits', 'Ethnicity', 'Socioeconomic Factors', 'Smoking Status', 'Alcohol Consumption', 'Glucose Tolerance Test', 'Previous Gestational Diabetes', 'Pregnancy History', 'Cystic Fibrosis Diagnosis', 'Environmental Factors', 'Steroid Use History', 'Genetic Testing', 'Liver Function Tests', 'Urine Test', 'Early Onset Symptoms', 'Physical Activity', 'History of PCOS', 'Target']


for col in categorical_columns:
    data[col] = le.fit_transform(data[col])

output_file_path = './dataset/numeric_diabetes_dataset.csv'
data.to_csv(output_file_path, index=False) 



data.head(50)

,Target,Genetic Markers,Autoantibodies,Family History,Environmental Factors,Insulin Levels,Age,BMI,Physical Activity,Dietary Habits,...,Pulmonary Function,Cystic Fibrosis Diagnosis,Steroid Use History,Genetic Testing,Neurological Assessments,Liver Function Tests,Digestive Enzyme Levels,Urine Test,Birth Weight,Early Onset Symptoms
0,7,1,0,0,1,40,44,38,0,0,...,76,0,0,1,3,1,56,1,2629,0
1,4,1,0,0,1,13,1,17,0,0,...,60,1,0,0,1,1,28,0,1881,1
2,5,1,1,1,1,27,36,24,0,1,...,80,1,0,0,1,0,55,1,3622,1
3,8,0,1,0,1,8,7,16,1,1,...,89,1,0,1,2,0,60,1,3542,0
4,12,0,0,1,1,17,10,17,0,0,...,41,0,0,1,1,1,24,3,1770,0
5,2,1,0,1,1,17,41,26,2,0,...,85,1,0,0,2,1,52,1,3835,1
6,9,0,0,0,0,29,30,31,2,0,...,64,1,1,0,3,0,96,1,4426,0
7,11,1,0,0,0,10,3,18,1,1,...,44,1,0,0,1,1,29,1,1644,1
8,6,0,1,0,0,47,47,25,0,0,...,71,0,1,1,3,1,74,1,3721,0
9,6,1,0,1,1,21,72,24,1,1,...,69,1,1,1,2,0,42,3,4206,0
10,6,0,1,0,1,16,67,29,1,0,...,75,0,0,0,3,1,59,0,3965,0
11,8,1,0,0,0,8,29,23,1,1,...,75,0,0,0,1,0,60,1,2947,0
12,5,1,0,0,0,22,59,28,1,0,...,73,1,1,1,1,0,76,2,3588,0
13,4,1,1,0,1,9,0,19,1,1,...,56,0,1,0,1,1,29,0,2202,0
14,2,0,0,0,0,21,45,22,2,0,...,76,0,0,1,2,1,43,3,2984,0
15,7,1,0,1,1,38,53,37,1,1,...,60,0,1,0,2,1,53,2,4239,0
16,2,0,0,0,0,14,36,31,0,1,...,87,1,0,1,2,1,56,3,2620,1
17,4,1,0,0,1,12,1,17,2,1,...,70,1,0,1,1,1,13,1,1523,0
18,10,1,0,0,1,30,60,32,2,0,...,62,1,1,0,3,0,41,2,4335,0
19,8,0,1,1,1,19,16,18,1,1,...,71,1,0,1,2,0,44,1,2940,0
20,1,1,0,1,1,10,35,33,1,0,...,77,0,1,0,2,1,51,1,3963,1
21,7,0,0,0,0,42,44,25,2,0,...,72,0,0,0,2,0,68,3,2766,0
22,11,1,0,0,1,13,14,19,1,0,...,43,1,0,0,2,0,18,0,1937,1
23,10,1,1,0,1,34,64,29,2,1,...,60,0,1,1,3,0,32,1,3094,0
24,12,1,0,1,1,11,9,23,1,1,...,49,1,0,1,1,1,13,0,2325,0
25,0,0,0,1,0,24,29,31,0,1,...,86,0,1,0,1,0,42,1,3684,0
26,6,1,0,1,0,44,65,23,0,0,...,70,0,0,1,3,0,50,2,3769,1
27,0,0,0,1,1,20,34,19,2,1,...,70,1,1,0,1,0,43,2,2827,0
28,9,1,0,0,1,15,51,39,2,0,...,69,1,1,0,3,1,49,3,2587,1
29,11,0,0,1,1,13,11,23,0,1,...,64,1,0,0,2,0,28,2,2786,1
30,7,0,0,1,0,44,51,34,0,0,...,66,0,0,1,3,1,59,3,4068,1
31,4,1,0,0,1,11,0,18,2,1,...,73,0,0,1,2,1,25,0,2889,0
32,9,1,1,0,1,20,56,31,2,0,...,71,0,0,0,3,0,49,0,3079,1
33,1,0,1,1,0,18,37,33,0,0,...,74,0,1,0,1,0,59,2,3798,0
34,12,1,0,0,1,11,10,15,1,1,...,64,1,0,0,2,1,27,2,1596,0
35,2,1,0,0,0,10,45,25,0,0,...,87,1,0,0,1,1,35,3,3682,1
36,8,1,0,1,1,6,22,22,0,1,...,84,1,0,1,1,0,68,1,2575,0
37,1,0,1,1,0,28,34,26,1,0,...,80,1,0,1,2,0,56,1,2855,1
38,9,1,1,1,0,44,70,34,1,1,...,73,0,0,1,3,1,83,3,2633,0
39,1,0,0,1,1,15,33,28,0,0,...,82,1,0,1,1,1,63,2,2566,1
40,6,0,0,1,1,29,50,28,1,1,...,66,1,0,1,2,0,42,0,3246,0
41,9,0,0,0,0,11,62,28,2,0,...,63,1,0,1,2,1,71,3,3521,1
42,10,1,0,0,1,48,40,25,2,0,...,60,0,0,0,3,1,62,0,3284,1
43,8,1,1,0,0,13,28,16,2,0,...,71,1,1,1,2,1,63,1,2846,1
44,1,0,1,1,1,24,30,31,1,0,...,76,0,0,1,2,1,49,2,2590,0
45,5,0,1,0,0,28,35,25,0,0,...,75,1,1,0,2,1,49,1,3126,1
46,12,0,0,1,1,12,10,15,0,1,...,58,0,1,1,1,1,14,2,2387,0
47,8,1,0,1,0,16,12,22,0,0,...,78,1,0,1,1,1,44,1,3339,0
48,1,1,1,0,1,16,38,21,0,0,...,70,1,0,0,1,0,38,1,4008,0
49,8,0,0,1,1,5,19,23,1,1,...,86,1,0,0,2,0,43,2,3677,1

In [12]:
print(data.describe())

             Target  Genetic Markers  Autoantibodies  Family History  \
count  70000.000000     70000.000000    70000.000000    70000.000000
mean       5.989729         0.501443        0.499171        0.502400
std        3.737753         0.500001        0.500003        0.499998
min        0.000000         0.000000        0.000000        0.000000
25%        3.000000         0.000000        0.000000        0.000000
50%        6.000000         1.000000        0.000000        1.000000
75%        9.000000         1.000000        1.000000        1.000000
max       12.000000         1.000000        1.000000        1.000000

       Environmental Factors  Insulin Levels           Age           BMI  \
count           70000.000000    70000.000000  70000.000000  70000.000000
mean                0.498743       21.607443     32.020700     24.782943
std                 0.500002       10.785852     21.043173      6.014236
min                 0.000000        5.000000      0.000000     12.000000
25%                 0.000000       13.000000     14.000000     20.000000
50%                 0.000000       19.000000     31.000000     25.000000
75%                 1.000000       28.000000     49.000000     29.000000
max                 1.000000       49.000000     79.000000     39.000000

       Physical Activity  Dietary Habits  ...  Pulmonary Function  \
count       70000.000000    70000.000000  ...        70000.000000
mean            1.002886        0.499714  ...           70.264671
std             0.816369        0.500003  ...           11.965600
min             0.000000        0.000000  ...           30.000000
25%             0.000000        0.000000  ...           63.000000
50%             1.000000        0.000000  ...           72.000000
75%             2.000000        1.000000  ...           79.000000
max             2.000000        1.000000  ...           89.000000

       Cystic Fibrosis Diagnosis  Steroid Use History  Genetic Testing  \
count               70000.000000         70000.000000     70000.000000
mean                    0.498071             0.497971         0.504500
std                     0.500000             0.499999         0.499983
min                     0.000000             0.000000         0.000000
25%                     0.000000             0.000000         0.000000
50%                     0.000000             0.000000         1.000000
75%                     1.000000             1.000000         1.000000
max                     1.000000             1.000000         1.000000

       Neurological Assessments  Liver Function Tests  \
count              70000.000000          70000.000000
mean                   1.804157              0.500271
std                    0.680154              0.500003
min                    1.000000              0.000000
25%                    1.000000              0.000000
50%                    2.000000              1.000000
75%                    2.000000              1.000000
max                    3.000000              1.000000

       Digestive Enzyme Levels    Urine Test  Birth Weight  \
count             70000.000000  70000.000000  70000.000000
mean                 46.420529      1.505171   3097.061071
std                  19.391089      1.118669    713.837300
min                  10.000000      0.000000   1500.000000
25%                  31.000000      1.000000   2629.000000
50%                  48.000000      2.000000   3103.000000
75%                  61.000000      3.000000   3656.250000
max                  99.000000      3.000000   4499.000000

       Early Onset Symptoms
count          70000.000000
mean               0.499157
std                0.500003
min                0.000000
25%                0.000000
50%                0.000000
75%                1.000000
max                1.000000

[8 rows x 34 columns]

## 2.Validation methods

### 2.1 cross validation

In [15]:
from sklearn.model_selection import train_test_split


X = data.drop('Target', axis=1)
y = data['Target']


X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)


print(f"train size: {X_train.shape}")
print(f"validation size: {X_val.shape}")
print(f"test size: {X_test.shape}")

train size: (42000, 33)
validation size: (14000, 33)
test size: (14000, 33)

### 2.2 k fold validation

In [26]:
from sklearn.model_selection import KFold


kf = KFold(n_splits=5, shuffle=True, random_state=42)


for train_index, val_index in kf.split(X):
    X_train, X_val = X.iloc[train_index], X.iloc[val_index]
    y_train, y_val = y.iloc[train_index], y.iloc[val_index]
    

    print(f"train size: {X_train.shape}, validation size: {X_val.shape}")

train size: (56000, 33), validation size: (14000, 33)
train size: (56000, 33), validation size: (14000, 33)
train size: (56000, 33), validation size: (14000, 33)
train size: (56000, 33), validation size: (14000, 33)
train size: (56000, 33), validation size: (14000, 33)

### 2.3 Bootstrapping

In [29]:
from sklearn.utils import resample


X_train, y_train = resample(X, y, n_samples=len(X), random_state=42)


X_val = X[~X.index.isin(X_train.index)]
y_val = y[~y.index.isin(y_train.index)]

print(f"train size: {X_train.shape}, val size: {X_val.shape}")

train size: (70000, 33), val size: (25795, 33)

## 3.ML algorithms

## 4.Experimental results